.Button{
    color: aqua;
    width: 100vw;
    height: 100vh;
    /* border: 1px solid red; */
    display: flex;
    /* background-color: rgb(194, 129, 255); */
    
    justify-content: center;
    align-items: center;
}
button
{
    height: 30px;
    width: 100px;
    color:rgb(0, 44, 44) ;
    background-color: rgb(194, 129, 255);
    border: none;
    border-radius: 5px;

}